# Cron job to git clone/pull a repo and then run locally
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
{{ schedule }} {{ cron_user }} sleep 60; /usr/bin/ansible-pull -f --clean -d {{ workdir }} -U {{ repo_url }} --vault-password-file /var/lib/ansible/vault-password >>{{ logfile }} 2>&1
